<div class="container">
  <div class= "container">
<%= simple_form_for @recipe do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- simple form for recipe -->

  <div class="form-group">
  <%= f.input :name %>
  <%= f.input :directions %>
</div>


<br>
  <!-- nested fields for ingredients in the recipe -->
  <div class="form-group">
  <%= f.nested_fields_for :ingredients do |ff| %>
   
    <%= ff.remove_nested_fields_link%>
    <%= ff.input :name %>
    <%= ff.input :amount %>
    <br>
  <% end %>
  <%= f.add_nested_fields_link :ingredients, "Add ingredient" %>
</div>

  <div class="d-flex justify-content-center">
  <div class="actions">
    <%= f.button :submit, class: "btn btn-dark" %>
  </div>
</div>
<% end %>
</div>
</div>